{% extends 'book/base.html' %}

{% block content %}
    <h1>Edit your profile</h1>
    <br/>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    <div class="row">
        <div class="col-xs-4">
            <form method="post" action="{% url 'edit_profile' %}">
                {% csrf_token %}
                {% include 'book/userprofile_form.html' %}
                <button type="submit" class="save btn btn-default">Save</button>
            </form>
        </div>
    </div>
{% endblock %}