{% extends 'book/base.html' %}

{% block content %}
    <h1>Edit your profile</h1>
    <br/>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    <div class="row">
        <div class="col-xs-4">
            <form method="post" action="{% url 'edit_profile' %}">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.username }}
                    <div class="text-danger">
                        {{ form.username.errors }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-6">
                            {{ form.first_name }}
                            <div class="text-danger">
                                {{ form.first_name.errors }}
                            </div>
                        </div>
                        <div class="col-xs-6">
                            {{ form.last_name }}
                            <div class="text-danger">
                                {{ form.last_name.errors }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form.email }}
                    <div class="text-danger">
                        {{ form.email.errors }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.password }}
                    <div class="text-danger">
                        {{ form.password.errors }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.city }}
                    <div class="text-danger">
                        {{ form.city.errors }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.country }}
                    <div class="text-danger">
                        {{ form.country.errors }}
                    </div>
                </div>
                <div class="form-group">
                    <label>Date of birth</label>
                    {{ form.date_of_birth }}
                    <div class="text-danger">
                        {{ form.date_of_birth.errors }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.description }}
                </div>
                <button type="submit" class="save btn btn-default">Save</button>
            </form>
        </div>
    </div>
{% endblock %}