{% extends 'book/base.html' %}

{% block content %}
    <a class="btn btn-default" href="{% url 'messages_list' %}"><span class="glyphicon glyphicon-arrow-left"></span> All messages</a>
    <h1>{{ friend.first_name }} {{ friend.last_name }}</h1>
    <br/>
    <div class="row">
        <div class="col-xs-6">
            <form method="post" action="{% url 'friend_messages' pk=friend.pk %}">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.text }}
                    <div class="text-danger">
                        {{ form.text.errors }}
                    </div>
                </div>
                <div align="right">
                    <button type="submit" class="btn btn-success">Reply</button>
                </div>
            </form>
            <ul class="list-group">
                {% for message in all_messages %}
                    <li class="list-group-item">
                        <div class="date">
                            {{ message.created_at }}
                        </div>
                        <b>{{ message.author.first_name }}:</b> {{ message.text }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}