{% extends 'book/base.html' %}

{% block content %}
    <a class="btn btn-default" href="{% url 'groups_list' %}"><span class="glyphicon glyphicon-arrow-left"></span> All groups</a>
    {% if group.admin == user %}
        <a class="btn btn-default" href="{% url 'group_remove' pk=group.pk %}"><span class="glyphicon glyphicon-remove"></span> Delete group</a>
        <a class="btn btn-default" href="{% url 'add_members' pk=group.pk %}"><span class="glyphicon glyphicon-plus"></span> Add members</a>
    {% endif %}
    <br/><br/>
    <div class="row">
        <div class="col-xs-6">
            <div class="jumbotron">
                <h1>{{ group.name }}</h1>
                <br/>
                <p>{{ group.description }}</p>
            </div>
            <form method="post" action="{% url 'group_detail' pk=group.pk %}">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.text }}
                    <div class="text-danger">
                        {{ form.text.errors }}
                    </div>
                </div>
                <div align="right">
                    <button type="submit" class="btn btn-success">Post</button>
                </div>
            </form>
            <ul class="list-group">
                {% for post in posts %}
                    <li class="list-group-item">
                        <div class="date">
                            {{ post.created_at }}
                        </div>
                        <b>{{ post.author.first_name }} {{ post.author.last_name }}</b>
                        <p>{{ post.text }}</p>
                    </li>
                    <br/>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}