{% extends 'book/base.html' %}

{% block content %}
    <a class="btn btn-default" href="{% url 'messages_list' %}"><span class="glyphicon glyphicon-arrow-left"></span> All messages</a>
    <a class="btn btn-default" href="{% url 'message_remove' pk=message.pk %}"><span class="glyphicon glyphicon-remove"></span> Remove</a>
    <div class="row">
        <div class="col-xs-5">
            <div class="message">
                <div class="date">
                    {{ message.date_of_sending_message }}
                </div>
                <h1>{{ message.author.first_name }}</h1>
                <p>{{ message.text }}</p>
            </div>
        </div>
    </div>
{% endblock %}