{% extends 'book/base.html' %}

{% block content %}
    <a class="btn btn-default" href="{% url 'friend_messages' pk=message.author.pk %}">
        <span class="glyphicon glyphicon-arrow-left"></span> Messages from {{ message.author.first_name }}
    </a>
    <a class="btn btn-default" href="{% url 'message_remove' pk=message.pk %}">
        <span class="glyphicon glyphicon-remove"></span> Remove
    </a>
    <div class="row">
        <div class="col-xs-5">
            <div class="message">
                <div class="date">
                    {{ message.created_at }}
                </div>
                <h1>{{ message.author.first_name }}</h1>
                <p>{{ message.text }}</p>
            </div>
        </div>
    </div>
{% endblock %}