{% extends 'book/base.html' %}

{% block content %}
    <a class="btn btn-default" href="{% url 'new_message' %}"><span class="glyphicon glyphicon-envelope"></span> Send new message</a>
    <br/><br/>

    {% if messages_from_friends %}
    <div class="row">
        <div class="col-xs-6">
            <div class="list-group">
                {% for message in messages_from_friends %}
                    <a href="{% url 'friend_messages' pk=message.author.pk %}" class="list-group-item">
                        <div class="date">
                            {{ message.created_at }}
                        </div>
                        <h3 class="list-group-item-heading">{{ message.author.first_name }} {{ message.author.last_name }}</h3>
                        <p class="list-group-item-text">{{ message.text|truncatechars:200 }}</p>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
        <h1>You have no message yet.</h1>
    {% endif %}
{% endblock %}