{% extends 'main_template.html' %}

{% block outercontent %}
        <div class="page-header">
            <form method="post" action="{% url 'login' %}" class="form-inline top-menu">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.username }}
                </div>
                <div class="form-group">
                    {{ form.password }}
                </div>
                <input type="submit" class="btn btn-default" value="Log In">
                <br/>
                <div class="invalid-credentials">
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                            {{ message }}
                        {% endif %}
                    {% endfor %}
                </div>
            </form>
            <h1>bielatbook</h1>
        </div>
        <div class="content">
            <h1>Sign Up</h1>
            <br/>
            <div class="row">
                <div class="col-xs-4">
                    <form method="post" action="{% url 'register' %}">
                        {% csrf_token %}
                        {% for message in messages %}
                            <div class="alert alert-success" role="alert">
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                                    {{ message }}
                                {% endif %}
                            </div>
                        {% endfor %}
                        <br/>
                        <div class="form-group">
                            {{ form.username }}
                            <div class="text-danger">
                                {{ form.username.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-6">
                                    {{ form.first_name }}
                                    <div class="text-danger">
                                        {{ form.first_name.errors }}
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    {{ form.last_name }}
                                    <div class="text-danger">
                                        {{ form.last_name.errors }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.email }}
                            <div class="text-danger">
                                {{ form.email.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.password }}
                            <div class="text-danger">
                                {{ form.password.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.confirm_password }}
                            <div class="text-danger">
                                {{ form.confirm_password.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.city }}
                            <div class="text-danger">
                                {{ form.city.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.country }}
                            <div class="text-danger">
                                {{ form.country.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Date of birth</label>
                            {{ form.date_of_birth }}
                            <div class="text-danger">
                                {{ form.date_of_birth.errors }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.description }}
                        </div>
                        <input type="submit" class="btn btn-success" value="Sign Up">
                    </form>
                </div>
            </div>
        </div>
{% endblock %}