{% load staticfiles %}
<html>
    <head>
        <title>bielatbook</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Pacifico&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/book.css' %}">
        <link rel="shortcut icon" href="/static/favicon.ico">
    </head>
    <body>
        <div class="page-header">
            <form method="post" action="{% url 'login' %}" class="form-inline top-menu">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.username }}
                </div>
                <div class="form-group">
                    {{ form.password }}
                </div>
                <input type="submit" class="btn btn-default" value="Log In">
                <br/>
                <div class="invalid-credentials">
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                            {{ message }}
                        {% endif %}
                    {% endfor %}
                </div>
            </form>
            <h1>bielatbook</h1>
        </div>
        <div class="content">
            <h1>Sign Up</h1>
            <br/>
            <div class="row">
                <div class="col-xs-4">
                    <form method="post" action="{% url 'register' %}">
                        {% csrf_token %}
                        <div class="text-success">
                            {% for message in messages %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                                    {{ message }}
                                    <br/>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% include 'book/userprofile_form.html' %}
                        <input type="submit" class="btn btn-success" value="Sign Up">
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>